
<%= htmlWebpackPlugin.options.header %>

<!DOCTYPE html>
<html>
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
<link href="main.css" rel="stylesheet" inline>
</head>
<body>
<div style="padding:2em;text-align:center">
<h1>Hello world.</h1>
<p>Edit the contents of /assets/index.html to change this text.</p>
<p id="text"></p>
</div>
</body>
<script src="main.js" inline></script>
</body>
</html>
