body {
  font-family: "HelveticaTextbookCom-Roman", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

html, body{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  line-height: 1.18em;
  background: white;
}

@font-face {
  font-family: "HelveticaTextbookCom-Roman";
  src:  url("/profiles/hni/themes/magazines/fonts/e5b89697-9108-43cd-9361-b666daecdf2d.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaTextbookCom-Italic";
  src: url("/profiles/hni/themes/magazines/fonts/2e87438f-a86f-4908-9c51-b2bcd0f56327.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

.title {
  will-change: transform;
  position: absolute;
  cursor: pointer;
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 1px;
  transform: translate(-1000px, -1000px);
  &:hover {
    padding-right: 0.2em;
    padding-left: 0.2em;
    border: 1px solid black;
  }
  &.work {
    border-bottom: inherit;
    font-family: "HelveticaTextbookCom-Italic";
    &:hover {
      text-decoration: inherit;
      border-bottom: solid black 1px;
    }
  }
}

.hidden {
  visibility: hidden;
}
