body {
  font-family: HelveticaTextbookCom-Roman, HelveticaTextbook-Roman, Helvetica, Arial, sans-serif;
}

html, body{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

path {
  stroke: black;
  stroke-width: 10px;
}

div {
  position: fixed;
}

svg {
  position: absolute;
  top: 0;
  left: 9;
  width: 100vw;
  height: 100vh;
}

circle {
  transition: transform 1s;
}