html {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	background: #20e690;
	color: black;
}

body {
	font-family: HelveticaTextbookCom-Roman, HelveticaTextbook-Roman, Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 41px;
	line-height: 41px;
	font-weight: normal;
}

h2 {
	font-size: 22px;
	line-height: 27px;
	font-weight: normal;
}

hr {
	border: none;
	height: 1px;
	background-color: black;
}
